<!-- percaleg.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Count</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4x4.css') }}">
</head>

<body>
    <div class="container">

        <div class="overlay" onclick="closeOverlay()"></div>

        <aside class="side-panel">
            <h3>QUICK COUNT ADMIN PANEL</h2>
            <div class="toggle-btn" onclick="toggleSidePanel()">☰</div>
            <ul>
                <li><a href="{{ url_for('perpartai') }}">Suara Per Partai</a></li>
                <li><a href="{{ url_for('perdesa') }}">Suara Per Desa</a></li>
                <li><a href="{{ url_for('rawdrive') }}">Raw Data</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </aside>

        <div class="main">
            <div class="header">
                <h1>QUICK COUNT</h1>
                <h2>perolehan hasil suara keseluruhan caleg</h2>
            </div>

            <div class="grafik">
                <table>
                    <tr>
                        <td>
                            <div class="grafik_umum">
                                <a href="your_link_1" target="_blank" class="image-link">
                                    <img src="{{ url_for('static', filename='icons/normal/png_16_square.png') }}" alt="Image 1">
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <h3>perolehan suara berdasarkan caleg:</h3>

            <div class="flex-container">
                <table>
                    {% for caleg_name in caleg_name %}
                        {% if loop.index % 4 == 1 %}
                            <tr>
                        {% endif %}
                            <td>
                                <div class="image-box">
                                    <a href="{{ url_for('percaleg', caleg_name=caleg_name) }}" target="_blank" class="image-link">
                                        <img src="{{ url_for('static', filename='icons/normal/png_' ~ loop.index ~ '_square.png') }}" alt="Image {{ loop.index }}">
                                    </a>
                                    <div class="image-name">{{ caleg_name }}</div>
                                </div>
                            </td>
                        {% if loop.index % 4 == 0 or loop.last %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

    <script defer src="{{ url_for('static', filename='script/4x4.js') }}"></script>
</body>
</html>
