<!-- rawproceed.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Count</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4x4.css') }}">
    <script defer src="{{ url_for('static', filename='script/nod.js') }}"></script>
    <script defer src="{{ url_for('static', filename='script/download.js') }}"></script>
    <script src="{{ url_for('static', filename='script/jszip.min.js') }}"></script>
</head>

<body>
    <div class="container">

        <div class="overlay" onclick="closeOverlay()"></div>

        <aside class="side-panel">
            <h3>QUICK COUNT ADMIN PANEL</h2>
            <div class="toggle-btn" onclick="toggleSidePanel()">☰</div>
            <ul>
                <li><a href="{{ url_for('perpartai') }}">Suara Per Partai</a></li>
                <li><a href="{{ url_for('perdesa') }}">Suara Per Desa</a></li>
                <li><a href="{{ url_for('percaleg') }}">Suara Per Caleg</a></li>
                <li><a href="{{ url_for('kursi') }}">Kursi</a></li>
                <li><a href="{{ url_for('data') }}">Data</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </aside>

        <div class="main">
            <div class="header">
                <h1>QUICK COUNT</h1>
                <h2>proceed data</h2>
                <a href="{{ url_for('download_db') }}" class="download-button">
                    <img src="{{ url_for('static', filename='icons/down.png') }}" alt="Download" id="downloadButton"> 
                </a>
            </div>

            <div class="flex-container">
                <table>
                    {% for proceed_data in proceed_data %}
                        {% if loop.index % 4 == 1 %}
                            <tr>
                        {% endif %}
                            <td>
                                <div class="image-box">
                                    <a href="{{ url_for('proceed', proceed_data=proceed_data) }}" class="image-link">
                                        <img src="{{ url_for('static', filename='icons/login_ico.png') }}" alt="Image {{ loop.index }}">
                                    </a>
                                    <div class="image-name">{{ proceed_data }}</div>
                                </div>
                            </td>
                        {% if loop.index % 4 == 0 or loop.last %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

</body>
</html>
